<section class="fx fx-xcenter basic-container">
    <form class="c-form" [formGroup]="myForm" autocomplete="off">
        <mat-form-field class="c-form__field full-width">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title">
            <mat-error *ngIf="title.invalid">Title is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="c-form__field full-width">
            <mat-label>Author</mat-label>
            <input matInput type="text" formControlName="author">
            <mat-error *ngIf="author.invalid">Author is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="c-form__field">
            <mat-label>Rating</mat-label>
            <mat-select disableOptionCentering formControlName="rating">
                <mat-option *ngFor="let rating of ratingValues" [value]="rating">
                    {{rating}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="rating.invalid">Rating is <strong>required</strong></mat-error>
        </mat-form-field>

        <div *ngIf="!this.dialog" class="fx fx-xcenter">
            <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="myForm.invalid">Add book</button>
        </div>
    </form>
</section>
