<h1 mat-dialog-title class="c-dialog__title">Add book</h1>
<div mat-dialog-content>
    <app-books [action]="action" [dialogRef]="dialogRef" (newBook)="getNewBook($event)" (formInvalid)="getFormStatus($event)" [dialogClosed]="dialogClosed"></app-books>
</div>
<div mat-dialog-actions class="c-dialog__actions fx fx-spacebetween">
    <button mat-raised-button (click)="onNoClick()">Discard</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" mat-dialog-close [disabled]="formInvalid">Add</button>
</div>
