.fx {
    display: flex;
    &-col {
        flex-direction: column;
    }
    &-xcenter {
        justify-content: center;
    }
    &-ycenter {
        align-items: center;
    }
    &-spacebetween {
        justify-content: space-between;
    }
    &-baseline {
        align-items: baseline;
    }
}

.full-width {
    width: 100%;
}

.basic-container {
    width: 90%;
    margin: 1.5rem auto;
}